extends layouts/main-layout
block content
    if !profileUser
        span Check the url you are trying to access
    else
        .profileHeaderContainer
            .coverPhotoContainer

                .userImageContainer
                    img(src=profileUser.profilePic, alt="User profile image")
            .profileButtonsContainer
                if profileUser._id !== userLoggedIn._id
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i.fas.fa-envelope
                    +createFollowButton(profileUser, true)
            .userDetailsContainer
                span.displayName #{profileUser.firstName} #{profileUser.lastName}
                span.username @#{profileUser.userName}
                span.description #{profileUser.description}

                .followersContainer
                    a(href=`/profile/${profileUser.userName}/following`)
                        span.value #{0}
                        span Following
                    a(href=`/profile/${profileUser.userName}/followers`)
                        span.value #{0}
                        span followers
        .tabsContainer
            +createTab("Posts", `/profile/${profileUser.userName}`,true)
            +createTab("Replies", `/profile/${profileUser.userName}/replies`,false)

        //.postsContainer
        +createPostModals(userLoggedIn)
